@font-face
  font-family: "ProximaNova-Bold"
  src : url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf")
  src : url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot")
  src : url("../fonts/ProximaNova-Bold/ProximaNova-Bold.svg")
  src : url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff")
